<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>Sales Tax Search</title>
  <meta name="viewport" content="width=device-width initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="/images/favicon.jpg">
  <link rel="stylesheet" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
  <header>
    <nav>
      <ul class="navbar-list">
        <li><a href="/">Sales Tax Search</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Log In</a></li>
      </ul>
    </nav>
  </header>
  <main>

  </main>

  <footer>
    <p>&copy; 2020 Michael Singhurse</p> 
    <p><a href="https://lisieuxresearch.com" 
      target="_blank">Lisieux Research, LLC</a></p>
  </footer>
  
  <script src="/scripts/jquery/dist/jquery.min.js"></script>
  <script src="/scripts/clipboard/dist/clipboard.min.js"></script>
  <script async defer 
    src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_KEY }}"></script>
  <script src="/javascripts/app.js"></script>
</body>
</html>
