<div id="login">
  <h1>Sales Tax Rates</h1>
  <form action="#" method="get">
    <fieldset>
      <dl>
        <dt>Username</dt>
        <dd><input type="text" required/></dd>
        <dt>Password</dt>
        <dd><input type="password" required/></dd>
      </dl>
      <button type="submit">Sign in</button>
    </fieldset>
  </form>
</div>
