<div id="search">
  <section class="form-container">
    <form action="#" method="get" class="search-form">
      <fieldset>
        <legend>Enter Your Sales Location</legend>
        <ul> 
          <li>
            <label for="street" class="label-street">Street:</label>
            <input id="street" type="text" class="input-street" required/>
          </li>
          <li>
            <label for="city">City:</label>
            <input id="city" type="text" class="input-city" required/>
          </li>
          <li>
            <label for="state">State:</label>
            <input id="state" type="text" class="input-state"
              pattern="[A-Za-z]{2}" 
              title="Two letter state abbreviation" required/>
          </li>
          <li>
            <label for="zip">Zip:</label>
            <input id="zip" type="text" class="input-zip" 
              pattern="\d{5}"
              title="Five digit zip code" required/>
          </li>
        </ul> 
      </fieldset>
      <button type="submit">Find Rates</button>
    </form>
  </section>
  <section class="results-container">
    <ul class="results" aria-live="assertive">
      
    </ul>
  </section>
</div>
